body {
  position: relative;
}

svg {
  position: relative;
}

canvas {
  position: absolute;
}

.input-group {
  padding-bottom: 5px;
}
.tick line{
    opacity: 0.1;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  stroke-width: 1;
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/* Custom page header */
.header {
  margin-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header{
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}
